<div class="modal" tabindex="-1" id="survivalSpectatorModal" data-nosnippet>
  <div
    class="modal-dialog mt-0 modal-xl d-flex flex-column min-vh-100 justify-content-center align-items-center"
  >
    <div class="modal-content">
      <div class="modal-header">
        <!-- Utilisez un ID distinct pour le titre survival -->
        <h5 class="modal-title" id="survivalSpectatorModalTitle">
          Survival: ???
        </h5>
      </div>
      <div class="modal-body">
        <div class="row" id="survivalSpectateRow">
          <!-- Le contenu sera injecté ici pour le mode survival -->
        </div>
      </div>
    </div>
  </div>
</div>
